:root {
  --chart-pump_fun: #00C853;
  --chart-letsbonk_fun: #FF8F00;
  --chart-jup_studio: #2196F3;
  --chart-Believe: #26C6DA;
  --chart-moonshot: #7E57C2;
  --chart-bags_fun: #84CC16;
  --chart-others: #9E9E9E;
}

@theme {
  /* 针对不同市值的token，设置不同的颜色 */
  --color-great: oklch(75% 0.183 55.934);
  --color-good: oklch(69.6% 0.17 162.48);
  --color-average: oklch(87.2% 0.01 258.338);
  --color-early: oklch(62.3% 0.214 259.815);
  --color-bad: oklch(71.2% 0.194 13.428);
}
